---
# Configure SuiteCRM

- name: Copy SuiteCRM config
  ansible.builtin.template:
    src: config.php.j2
    dest: "{{ suitecrm_install_dir }}/config.php"
  owner: "{{ suitecrm_file_owner }}"
  group: "{{ suitecrm_file_group }}"
  mode: "0644"
  notify: Restart Apache
