---
# Install SuiteCRM

- name: Install dependencies on Debian/Ubuntu
  ansible.builtin.apt:
    name:
      - apache2
      - unzip
      - "php{{ suitecrm_php_version }}"
      - "php{{ suitecrm_php_version }}-mysql"
      - libapache2-mod-php
      - "php{{ suitecrm_php_version }}-curl"
      - "php{{ suitecrm_php_version }}-json"
      - "php{{ suitecrm_php_version }}-mbstring"
      - "php{{ suitecrm_php_version }}-xml"
      - "php{{ suitecrm_php_version }}-zip"
    state: present
    update_cache: true
  when: ansible_facts['os_family'] == 'Debian'

- name: Install dependencies on Alpine
  ansible.builtin.apk:
    name:
      - apache2
      - unzip
      - "php{{ suitecrm_php_version }}"
      - "php{{ suitecrm_php_version }}-mysqli"
      - "php{{ suitecrm_php_version }}-apache2"
      - "php{{ suitecrm_php_version }}-curl"
      - "php{{ suitecrm_php_version }}-json"
      - "php{{ suitecrm_php_version }}-mbstring"
      - "php{{ suitecrm_php_version }}-xml"
      - "php{{ suitecrm_php_version }}-zip"
    state: present
  when: ansible_facts['os_family'] == 'Alpine'

- name: Download SuiteCRM
  ansible.builtin.get_url:
    url: "{{ suitecrm_url }}"
    dest: /tmp/suitecrm.zip
    owner: root
    group: root
    mode: '0644'

- name: Unzip SuiteCRM
  ansible.builtin.unarchive:
    src: /tmp/suitecrm.zip
    dest: "{{ suitecrm_install_dir }}"
    copy: false
    owner: "{{ suitecrm_file_owner }}"
    group: "{{ suitecrm_file_group }}"
    mode: '0755'

- name: Set ownership and permissions
  ansible.builtin.file:
    path: "{{ suitecrm_install_dir }}"
    owner: "{{ suitecrm_file_owner }}"
    group: "{{ suitecrm_file_group }}"
    recurse: true

- name: Enable Apache rewrite module
  ansible.builtin.command:
    - 'a2enmod rewrite'
  notify: Restart Apache
  when: ansible_facts['os_family'] == 'Debian'
