# tasks/configure_php.yml
---
# Set PHP memory_limit
- name: Set PHP memory_limit
  lineinfile:
    path: /etc/php/{{ php_version.major }}/apache2/php.ini
    regexp: '^memory_limit ='
    line: 'memory_limit = 128M'

# Set PHP max_execution_time
- name: Set PHP max_execution_time
  lineinfile:
    path: /etc/php/{{ php_version.major }}/apache2/php.ini
    regexp: '^max_execution_time ='
    line: 'max_execution_time = 60'

# You can add more PHP configuration settings as needed
