<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ webtrees_install_dir }}
    ServerName localhost

    <Directory {{ webtrees_install_dir }}>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/webtrees_error.log
    CustomLog ${APACHE_LOG_DIR}/webtrees_access.log combined
</VirtualHost>
