<?php
$cfg['db_host_name'] = 'localhost';
$cfg['db_user_name'] = '{{ suitecrm_db_user }}';
$cfg['db_password'] = '{{ suitecrm_db_password }}';
$cfg['db_name'] = '{{ suitecrm_db_name }}';
$cfg['site_url'] = '{{ ansible_fqdn }}';
?>
