<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ suitecrm_server_name }}
    DocumentRoot {{ suitecrm_web_root }}

    <Directory {{ suitecrm_web_root }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
