# .github/workflows/ansible-lint.yml
name: ansible-lint

on:
  pull_request:
    branches: ["main", "stable", "release/v*"]

jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: run-ansible-lint
        uses: ansible/ansible-lint@v24.9.2