name: Ansible Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          pip install ansible-lint requests

      - name: Run ansible-lint
        run: |
          ansible-lint ansible/playbooks/deploy_services.yaml ansible/roles/docker_services/**/*.yaml --format json > ansible-lint-output.json || true

      - name: Parse ansible-lint output and create issues
        run: |
          python scripts/create_issues.py ansible-lint-output.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Automatically provided by GitHub Actions
